{% extends 'hackathons/base.html' %}

{% block content %}

<header id="gtco-header" class="gtco-cover" role="banner">
  <div class="gtco-container row">
    <p>kjdsngkandsl</p>
  </div>
</header>



<!-- <div class="container" style="margin-top: 50px; width: 600px; height: 600px; background-color: #00ffa3; padding: 10px; border-radius: 10px">
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if saved %}
    <span>Profile saved!</span>
    {% endif %}

</div> -->
{% endblock %}
