{% extends 'hackathons/base.html' %}

{% block content %}

<header id="gtco-header" class="gtco-cover" role="banner">
  <div class="gtco-container row">

    <div class="container form-wrapper">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        {% if saved %}
        <span>Profile saved!</span>
        {% endif %}
    </div>

  </div>
</header>




{% endblock %}
