{% extends "hackathons/base.html" %}

{% block content %}
  <div id="page">
    {% include "hackathons/navbar.html" %}

    <header id="gtco-header" class="gtco-cover" role="banner">
      <div class="gtco-container row">
          <div class="col-md-12 col-md-offset-0 text-left">
            <div class="display-t">
              <div class="display-tc row">
                <div class="col-md-5 text-center header-img animate-box">
                  {% load static %}
                  <img src="{% static "hackathons/images/cube.png" %}" alt="Free HTML5 Website Template by FreeHTML5.co">
                </div>
                <div class="col-md-7 copy animate-box">
                  <h1>Make your life simpler, try this for free.</h1>
                  <p>A free template hand-crafted by FreeHTML5.co. Visit our site for more awesome templates.</p>
                  <p><a href="http://freehtml5.co" target="_blank" class="btn btn-white">Visit FreeHTML5.co</a></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </header>
    <!-- END #gtco-header -->
    <div class="gtco-client">
      <div class="gtco-container">
        <div class="row">
          <div class="col-md-2 col-md-offset-1 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
            {% load static %}
            <img src="{% static "hackathons/images/client_1.png" %}" alt="Free Website Template by FreeHTML5.co" class="img-responsive">
          </div>
          <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
            <img src="{% static "hackathons/images/client_2.png" %}" alt="Free Website Template by FreeHTML5.co" class="img-responsive">
          </div>
          <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
            <img src="{% static "hackathons/images/client_3.png" %}" alt="Free Website Template by FreeHTML5.co" class="img-responsive">
          </div>
          <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
            <img src="{% static "hackathons/images/client_4.png" %}" alt="Free Website Template by FreeHTML5.co" class="img-responsive">
          </div>
          <div class="col-md-2 text-center client col-sm-6 col-xs-6 col-xs-offset-0 col-sm-offset-0">
            <img src="{% static "hackathons/images/client_5.png" %}" alt="Free Website Template by FreeHTML5.co" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <!-- END .gtco-client -->
  </div>

  {% include "hackathons/footer.html" %}

{% endblock content %}
