<nav class="gtco-nav" role="navigation">
  <div class="gtco-container row">
    <div class="col-sm-2 col-xs-12">
      {% load static %}
      <div id="gtco-logo">
        <a href="index.html">
          <!-- <img src="{% static "hackathons/images/logo.png" %}" alt="Free HTML5 Website Template by FreeHTML5.co"> -->
          HackTomate
        </a>
      </div>
    </div>
    <div class="col-xs-10 text-right menu-1">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/user">Participants</a></li>
        <li><a href="/hackathons">Hackathons</a></li>
        <li><a href="/organizer">Organizers</a></li>
        <li><a href="/user/profile">Profile</a></li>
      </ul>
    </div>
  </div>
</nav>
