<nav class="gtco-nav" role="navigation">
  <div class="gtco-container row">
    <div class="col-sm-2 col-xs-12">
      {% load static %}
      <div id="gtco-logo">
        <a href="index.html">
          <!-- <img src="{% static "hackathons/images/logo.png" %}" alt="Free HTML5 Website Template by FreeHTML5.co"> -->
          HackTomate
        </a>
      </div>
    </div>
    <div class="col-xs-10 text-right menu-1">
      <ul>
        <li class="active"><a href="index.html">Główna</a></li>
        <!-- <li class="has-dropdown">
          <a href="#">Dropdown</a>
          <ul class="dropdown">
            <li><a href="#">HTML5</a></li>
            <li><a href="#">CSS3</a></li>
            <li><a href="#">Sass</a></li>
            <li><a href="#">jQuery</a></li>
          </ul>
        </li> -->
        <li><a href="contact.html">Zaloguj</a></li>
      </ul>
    </div>
  </div>
</nav>
